<% include partial/header%>
<a href="/users/cart">Cart</a> <br>
<a href="/users/dashboard">All products</a>
<div>
    <img src="/images/<%=product.productImage%>" alt="<%= product.productImage%>">

    <h2>
        <%=product.name%>
    </h2>
    <p>
        Quantity: <%=product.quantity%>
    </p>
    <span>
        ₹ <%=product.price%>
    </span> <br>
    <span><%=product.like%></span>
    <a href="/users/product/<%=product._id%>/like">like</a> <br>
    <a href="/users/product/<%=product._id%>/dislike">dislike</a> <br>
    <a href="/users/product/<%=product._id%>/cart">Add to Cart</a>
</div>